header {

	padding-top: -4px;
	padding-bottom: -4px;
}
div {
	margin-top: 3px;
	margin-bottom: 3px;
}
body {
	background-color:#ffc778;
	font-family: 'Lekton', sans-serif;
}
h1 {
	color: #b5550b;
	font-family: 'Lekton', sans-serif;
	font-size: 300%;
}
h2 {
	color: #b5550b;
	font-family: 'Lekton', sans-serif;
	font-size: 150%; 
}
h3 {
	color: #b5550b;
	font-family: courier new;
}
p { 
	max-width: 750px;
	margin: 2px;

}
footer {
	font-family: courier new;
	color:#b5550b;
	font-style: italic;
}
h4 {
	font-family: 'Lekton', sans-serif;
	font-style: italic;
	text-transform: uppercase;
}
.Chorus {
	font-family: 'Lekton', sans-serif;
	font-weight: bold;
}


