/*styles.css*/

/*Page Intro*/
h1 {
	text-align: center;
	font-size: 60pt;
	color: blue;
	margin: 0px;
	position: sticky;

}

/*Subheading*/
h2 { 
	margin: 0;
/*	padding-top: .5%;
	padding-bottom: .5%;*/
	text-align: center;
	font-size: 24.5pt;
	letter-spacing: -.2px;
	word-spacing: -.4px;
	/*padding-top: .5%;*/

}

/*SectionTitles*/
h3 {
	text-align: center;
	font-size: 41px;
	margin: 35px;
	position: sticky;
}


/*general*/
body {
	font-family: 'Archivo Narrow', sans-serif;
/*	margin-top: 150px;*/
}

section {
	display: block;
}


/*Header*/
section.Intro {
	padding: 150px;
	padding-bottom: 179px;
	position: static;
	display: block;
	background-image: url("12233207-corn-field-corn-on-the-cob.png");
	background-size: cover;

}

/*First Section*/
section.one {
/*	padding: 0% 12% 12% 5%;*/
padding: 1px;
margin: 1px;
/*background-color: green;*/
text-align: left;
/*line-height: 25px;*/
}

div.Title {
	padding: 150px 0px 150px 0px;



}

div#parag1 {
	margin-left: 185px;
	margin-right: 185px;
	/*margin-block-start: 2em;*/

}

#parag1>p {
	/*margin-top: 40px;*/
	margin-bottom: 25px;
	font-size: 13.13pt;
	line-height: 1.5em;
	margin-block-start: 7px;
	margin-block-end: 7px;
	margin-top: 5px;
	margin-bottom: 0px;

}

img#large-pic {
	width: 400px;
	height: 300px;
	float: right;
	object-fit: cover;
	padding-left: 20px;
	padding-bottom: 20px;

}

div#parag1-title {
	text-align: center;
}